@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


#price-holder {
    color: black;
    margin: 10px;
}

#price-calculator{
    font-family: "Merriweather", serif;
    font-size: 1.1rem;
    font-style: bold;
    padding: 5px;
    width: 70px;
    height: 30px;
    text-align: center;
    margin: 10px;
    background-color: #252323 ;
}

#price-calculator:hover {
    filter: contrast(30);
    transform: scale(1.2);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#FC6E18, #FFE066);
    
    
}

.header-t {
    font-size: 2rem;
    font-family: "Ubuntu", sans-serif;
}